body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #0b0b2b, #1b2735 70%, #090a0f);
}

button {
  background-color: #010711;
  color: rgb(215, 208, 208);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #777;
  color: white;
}

header{
  background-color: rgb(157, 16, 58);
  color: aliceblue;
  text-align: center;
}



